<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>XMCustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>XMCustomViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>XMStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XMViewController copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>XMViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16D594DC1A40132A004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D594F81A40132B004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D5950D1A410A4D004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595171A410A4D004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595321A410A73004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D5953C1A410A73004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595691A410D7B004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D5957F1A411380004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595891A411381004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595A31A411394004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D595AD1A411394004BEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
